.game {
    width: 600px;
    height: 200px;
    border-bottom: 1px solid #000;
    margin: auto;
    margin-top: 200px;
}

#dino {
    width: 50px;
    height: 50px;
    background-image: url(/images/person-runing-black-white.png);
    background-size: 50px 50px;
    position: relative;
    top: 150px;
}